// setying set

.detail__set {
	margin-top: 2.2rem;
	padding-bottom: 2rem;
	grid-column: 1 / -1;
	//grid-row: 4 / span 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
	grid-row-gap: 2rem;

	&__total {
		grid-column: 1 / -1;
		&-text {
			margin: 1rem 0 0 1rem;
		}
	}

	&__card {
		margin: 0 1rem;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

		height: 100%;
		min-height: 10rem;

		display: grid;
		grid-template-columns: 10rem 1fr 9.3rem;
		grid-template-rows: 4.4rem 1fr;

		&-img {
			align-self: center;
			grid-column: 1 / span 1;
			grid-row: 1 / -1;
			width: 100%;
			padding: 0.5rem;
		}

		&__price {
			grid-column: 2 / span 2;
			grid-row: 1 / span 1;
			justify-self: end;

			display: flex;

			&__current {
				margin-right: 0.5rem;
				align-self: center;
			}

			&__old {
				margin-right: 0.5rem;
			}
		}

		&-text {
			grid-column: 2 / span 1;
			grid-row: 2 / span 1;

			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}

		&__control {
			grid-column: 3 / span 1;
			grid-row: 2 / span 1;
			display: grid;

			font-size: $default-font-size;
			font-weight: $font-weight-title;

			&-name {
				color: $color-secondary;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&-remove {
				background-color: $color-secondary;
				color: $color-text-white;
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
			}

			&__choose {
				font-size: $default-font-size;
				font-weight: $font-weight-title;
				color: $color-text-white;

				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
			}

			&__add {
				font-size: $default-font-size;
				font-weight: $font-weight-title;
				color: $color-text-white;

				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
			}
		}
	}
}

// set control buttons
.set-card-selected {
	border: 1px solid $color-secondary;
	border-radius: 3px;
}

.set-card-button-unactive {
	position: relative;
	border: 1px solid $color-secondary;
	border-radius: 3px 0px;
	right: -1px;
	bottom: -1px;
}

.set-card-button-selected {
	position: relative;
	border: 1px solid $color-secondary;
	border-radius: 3px 0px;
	right: -1px;
	bottom: -1px;
}

.set-card-button-choose {
	position: relative;
	border-radius: 3px 0px;

	right: -1px;
	bottom: -1px;
	background-color: $color-third;
}

.set-card-button-add {
	position: relative;
	border-radius: 3px 0px;
	right: -1px;
	bottom: -1px;
	background-color: $color-secondary;
}
