.big-title {
	font-size: 3rem;
	font-weight: $font-weight-title;
	color: $color-text-dark;
}

.text-default-light {
	font-size: $default-font-size;
	color: $color-text-light;
	font-weight: $font-weight-text-400;
}

.text-default {
	font-size: $default-font-size;
	color: $color-text-dark;
	font-weight: $font-weight-text-400;
}

// text that inside catalog menu
.text-catalog-menu {
	font-size: $font-size-title-big;
	font-weight: $font-weight-text-400;
	color: $color-text-dark;
}
